div.error{
    margin-top: 20px;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    color: white;
}
h1.error{
    font-size: 130px;
}
hr.error{
    border-top: 1px white solid;
}
p.error{
    font-size: 150%;
}

@media screen and (max-width: 800px)
{
    div.error{
        margin-left: 4%;
        margin-right: 4%;
    }
}