form.signup{
    align-content: center;
    margin-left: 25%;
    margin-right: 25%;
   
}
h1.signup{
    color: white;
    text-align: center;
}
input.USignup {
    border: 2px gray solid;
    border-radius: 25px;
    background: transparent !important;
    color: white !important;
    width: 100%;
    text-align: center;
    transition: all .3s ease-in-out;
}
input.USignup:hover{
    border: 2px white solid;
}
input.USignup:focus{
    font-size: 140%;
    font-weight: bold;
    border: 2px white solid;
}

form.signup label{
    display: block;
    text-align: center;
    margin-top: 10px;
    color: white;
    font-size: 110%;
}

hr.signup{
    border: 1px white dotted;
    margin-top: -6px;
}

input.submit{
    border: 2px gray solid;
    border-radius: 25px;
    background: transparent;
    color: white;
    margin-top: 20px;
    width: 100%;
    transition: all .1s ease-in-out;

}

input.submit:hover{
    font-weight: bold;
    background: rgba(71, 71, 71, 0.411);
    border: 3px white solid;
}

div.infobox{
    margin-top: 15%;
    text-align: center;
}

p.info{
    font-size: 120%;
    font-weight: bold;
    color: white;
}

div.infobox ul{
    margin-left: 25%;
    margin-right: 25%;
    text-align: left;
   /* list-style-type: none; */
    color: white;
}

@media screen and (max-width: 650px)
{
    div.infobox ul{
        margin-left: 0%;
        margin-right: 0%;
    }
    form.signup{
        margin-left: 2%;
        margin-right: 2%;
    }
}